body
{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;

}

.overlay
{
	position: absolute;
	height: 100vh;
	width: 100%;
	background: url("test.png");
	background-size: cover;
	z-index: 1;

}
.menu
{
	top: 20px;
	left: 50%;
	transform: translate(-50%,0%);
	position: absolute;
	height: 20px;
	width: 80vw;
	z-index: 2;
	align-content: center;
	font-size: 15px;
}
.a
{
	transform: scale(0.4);
}
.menu span
{
  	position: absolute;
  	transform: translateY(2px);
}
.t1
{
	font-size: 25px;
	font-weight: 200;
	position: absolute;
	z-index: 2;
	top: 30vh;
	left: 50%;
	transform: translate(-50%,0);
}
.search
{
	height: 42px;
	width: 40vw;
	transform: translate(-50%,0);
	font-size: 15px;
	position: absolute;
	z-index: 2;
	background-color: #fff;
	box-shadow: 0px 12px 28px -8px rgba(0,0,0,0.16);
	top: 47vh;
	left: 50%;

}
.search span
{
	position: absolute;
  	transform: translateY(15px);
  	padding-left: 20px;
  	font-size: 12px;
  	color: #868686;
}
.search img
{
	float: right;
	transform: scale(0.4);
}
.box1
{
	height:auto;
	width: 55vw;
	position: absolute;
	z-index: 2;
	left: 50%;
	top: 70vh;
	transform: translate(-50%,0);
	background-color: #fff;
	box-shadow: 0px 12px 28px -8px rgba(0,0,0,0.08);
	margin-bottom: 100px;
}
.t2 h2
{
	font-size: 25px;
	font-weight: 200;
	margin-left: 30px;
}
.t2 p
{
	font-size: 15px;
	margin-left: 30px;
	margin-right: 30px;
	color: #868686;
}
.box2
{
	height:auto;
	width: 55vw;
	position: absolute;
	z-index: 2;
	left: 50%;
	top: 123vh;
	transform: translate(-50%,0);
	background-color: #fff;
	box-shadow: 0px 12px 28px -8px rgba(0,0,0,0.08);
	margin-bottom: 100px;
}